
<body>
	<h1>Hello, {{username}}, what do you want to know?</h1>
	<p>{{error_message}}</p>
	<table>
		<form name="movies" method="post" action="/searchMovies" id="a1">
			<input type="hidden" value={{pid}} name="pid"/>
			<input type="hidden" value={{username}} name="username"/>
			<tr>
				<td class="a1_label"><b><font size="5">Search movie title:   </font></b></td>
				<td>
					<input type="text" name="movie_title" value="" />
				</td>
				<td>
					<input type="submit" name="Search" value="Search" style="font-size:18px; " />
				</td>
			</tr>
		</form>

		<form name="actors" method="post" action="/searchActor" id="a2">
			<input type="hidden" value={{pid}} name="pid"/>
			<input type="hidden" value={{username}} name="username"/>
			<tr>
				<td class="a2_label"><b><font size="5">Search actor:   </font></b></td>
				<td>
					<input type="text" name="actor_name" value="" />
				</td>
				<td>
					<input type="submit" name="Search" value="Search" style="font-size:18px; " />
				</td>
			</tr>
		</form>

		<form name="directors" method="post" action="/searchDirector" id="a3">
			<input type="hidden" value={{pid}} name="pid"/>
			<input type="hidden" value={{username}} name="username"/>
			<tr>
				<td class="a3_label"><b><font size="5">Search director:   </font></b></td>
				<td>
					<input type="text" name="director_name" value="" />
				</td>
				<td>
					<input type="submit" name="Search" value="Search" style="font-size:18px; " />
				</td>
			</tr>
		</form>

		<form name="company" method="post" action="/searchCompany" id="a4">
			<input type="hidden" value={{pid}} name="pid"/>
			<input type="hidden" value={{username}} name="username"/>
			<tr>
				<td class="a4_label"><b><font size="5">Search company:   </font></b></td>
				<td>
					<input type="text" name="company_name" value="" />
				</td>
				<td>
					<input type="submit" name="Search" value="Search" style="font-size:18px; " />
				</td>
			</tr>
		</form>

		<form name="rate" method="post" action="/rater" id="r">
			<input type="hidden" value={{pid}} name="pid"/>
			<input type="hidden" value={{username}} name="username"/>
			<tr>
				<td class="r_label"><b><font size="5">Rate a movie:   </font></b></td>
			</tr>
			<tr>
				<table>
					<tr>
						<td class="label1">
							<font size="4">
							Movie Title: 
							</font>
						</td>
						<td>
							<input type="text" name="movie_title" value="" />
						</td>
					</tr>
					<tr>
						<td class="label2">
							<font size="4">
							Your Rating: 
							</font>
						</td>
						<td>
							<input type="text" name="rate" value="" />
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td align="right">
							<input type="submit" name="rate" value="Go!" style="font-size:18px; " />
						</td>
					</tr>
				</table>
			</tr>
		</form>
	</table>
</body>